<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.applh.smart-grid"
        version   = "1.2">
    <name>Card Grid</name>

    <description>
Smart Card Grid will offer several games. // Battle Cards Challenge (2 players) //
    </description>

    <author href="http://Applh.com" email="ipad@applh.com">
        Applh.com
    </author>

   <preference name="permissions" value="none"/>

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="landscape" />
    <preference name="target-device"    value="tablet" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />    
    <preference name="exit-on-suspend"  value="true" />

    <icon src="icon.png" />
    <icon src="icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="icon-72.png"            gap:platform="ios"        width="72" height="72" />
</widget>
